.slider {
    width: 80% !important;
}

.slider_item {
    margin: 0px 32px;
    height: 64px; /* Domyślny rozmiar dla lepszego dopasowania */
}

@media (max-width: 1520px) {
    .slider_item {
        height: 54px;
    }
    .slider {
        width: 90% !important;
    }
}

@media (max-width: 1024px) {
    .slider_item {
        height: 48px;
        margin: 0px 24px;
    }
}

@media (max-width: 768px) {
    .slider_item {
        height: 40px;
        margin: 0px 16px;
    }
    .slider {
        width: 90% !important;
    }
}

@media (max-width: 580px) {
    .slider_item {
        height: 32px;
        margin: 0px 12px;
    }
    .slider {
        width: 95% !important;
    }
}

@media (max-width: 480px) {
    .slider_item {
        height: 24px;
        margin: 0px 8px;
    }
}