@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --colorTlo: rgb(252, 252, 247);
    --colorTekst: #0F1129;
    --colorSub: #6E6F72;
    --colorDod: #2E6AA9;
    --formText: #0F1129;
    overflow-x: hidden !important;
}

body {
    font-family: "Montserrat" !important;
    padding-top: 70px;
    color: var(--colorTekst);
}

@media only screen and (max-width: 850px) {
    body {
        padding-top: 50px;
    }
}